.header {
  height: 100vh;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
  }

  &__logo {
    &-link {
      font-size: $fs-xl;
      color: $color-lightBlue
    }
  }

  &__nav {
    font-size: $fs-lg;
    display: flex;

    &-item {

      &+& {
      }
    }
  }
}